a{
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:white;
}
#header{
    background-color: darkblue;
    width: 100%;
}
.port{
    font-family: cursive;
    font-size: 25px;
    color: white;
}
#home{
    width:100%;
    background-color: white;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
}
#about-img{
    width:350px;
    height:600px;
    float:left;
}
#about{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    float:right;
    text-align: left;
}
.about-content{
    margin:0 5% 0 15%;
}
.skill-card{
    box-shadow: 7px 7px 4px 0 rgba(0,0,0,0.2);
    height:100%;
    width:300px;
    border:solid 1px darkblue;
}
img{
    width:270px;
    height:200px;
    border-radius: 10px;
} 
.skill-data {
    padding: 5px 16px;
    font-size: 25px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkblue;
}
.skill-content{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 7%;
}
.skill-head{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.skill-img{
    height:200px;
    width: 100%;
}
.contactus{
    text-align: center;
    font-size: 40px;
}
input{
    border-radius:15px;
    width:60%;
    border:solid 2px rgba(0, 0, 0, 0.664);
}
textarea{
    border-radius:20px;
    width:60%;
    border:solid 2px rgba(0, 0, 0, 0.664);
}
.contact-ele{
    margin:0 20% 0 20%;
    border:solid 2px darkblue;
    padding:10px 0 10px 200px;
}
button{
    background-color: darkblue;
    color: white;
    border-radius: 12px;
    width:20%;
    margin-left:22%;
    font-size: 18px;
}
#footer{
    background-color: darkblue;
    width: 100%;
}
td{
    color:white;
}
p{
    margin-left: 15%;
    margin-top: 40%;
}
#home{
    display:grid;
    grid-template-columns: auto auto;
}
.home-img{
    margin-top: 5%;
    height:500px;
    width:600px;
}
